body{
  background-color: rgb(21, 23, 136);
  font-family: Verdana, sans-serif;
}
.book{
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 235, 204);
  border: 1px solid black;
  padding: 5px;
  width: 300px;
  margin: 10px;
}
img{
  width: 80%;
}
.groopButton{
  display: flex;
  justify-content: space-evenly;
}
.cont{
  display: flex;
 justify-content: space-evenly;
}
.change{
padding: 10px;
margin: 10px;
color: rgb(148, 83, 9);
background-color: rgb(255, 235, 204);
font-size: 16px;

}
.change1{
  background-color: rgb(255, 235, 204);
  font-size: 14px;
  border: none;
  font-style: italic;
  
  }
  
nav{
  background-color: rgb(255, 235, 204);
  display: flex;
  justify-content: center;
  padding: 10px;
}
.link{
  text-decoration: none;
  padding: 10px;
  color: rgb(148, 83, 9);
  font-size: 20px;

}
h1{
  color: rgb(243, 215, 182);
  margin: 20px 0 10px;
}
h5{
  color: white;
}
h4{
  color: rgb(148, 83, 9);
  font-style: italic;
}
p{
  margin: 20px;
  text-align: start;
}
